<template>
    <div class="d-middle flex-wrap gap-3">
        <div v-for="(pokemon, index) in pokemons" :key="index" class="card text-center position-relative">
            <p>{{ pokemon.name }}</p>
            <img :src="pokemon.iconImg" alt="">
            <span class="stat">{{ pokemon.statTotal}}</span>
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue-demi';
import store from '../store/pokemon.store'
getPokemons()
async function getPokemons() {
    await store().get_pokemons();
} 
const pokemons = computed(() => store().pokemons);
console.log(pokemons.value);


</script>

<style scoped lang="scss">
.d-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-3{
    gap: 1rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

.card{
    width: 120px;
    height: 120px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
    border-radius: 500px;
    &:hover{
        box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    }
    p{
        font-weight: 600;
    }
}

.text-center{
    text-align: center;
}

.position-relative{
    position: relative;
}

.stat{
    position: absolute;
    bottom: 0;
    left: 35%;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(175, 212, 10);
    border: rgb(0, 0, 0);
    padding: 0.5rem;
}
</style>
