button{
    text-transform: uppercase;
    border: 1px solid transparent !important;
    box-shadow: 0 0 0 1px rgb(233, 233, 233) !important;
    background-color: transparent !important;
    color: rgba(0,0,0, .3) !important;
    cursor: default !important;
}

.el-button:hover{
    background-color: rgb(233, 233, 233) !important;
    color: rgba(0, 0, 0, 0.5) !important;
}