<template>
    <div class="home-page">
        <el-button>Normal Button</el-button>
        <pokemon-page/>
    </div>
</template>

<script setup lang="ts">
import PokemonPage from '../../modules/pokemon/pages/index.vue' 
</script>